<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./master/head.ejs') %>
    <title>MyPortfolio | Messages </title>
</head>
<body class="text-dark">
    <%- include('./master/navbar.ejs') %>
    <%- include('./master/switch_mode.ejs') %>
    <!-- display the messages -->
    <nav class="container mt-2 d-flex flex-row justify-content-center" id="messages" style="min-height:80vh;">
        <%- msgsList %>
    </nav>
    <%- include('./master/scripts.ejs') %>
    <%- include('./master/footer.ejs') %>
</body>
</html>